@import '../../styles/variables';

.container {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: inline-flex;

    &:hover .details {
        transform: translateY(0%);
    }
}

.details {
    @include transition;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    background: rgba($nft-light, 5 / 6);
    color: $nft-dark;
    transform: translateY(100%);
    transition-timing-function: ease-out;
}

.detailsTitle {
    text-transform: uppercase;
}
.detailsSubtitle {
    font-size: 15px;
    margin-top: -8px;
    margin-bottom: 12px;
}
.detailsFooter {
    display: flex;
    justify-content: space-between;

    strong {
        text-transform: uppercase;
    }
}
