@import '../../styles/variables';

.asset {
    width: 304px;
    height: 360px;
    left: 0px;
    top: 0px;

    /* 3. Shade/White */
    background: #FFFFFF;

    /* 3. Shade/Gray */
    border: 1px solid #A8B3BD;
    box-sizing: border-box;
    border-radius: 4px;


}

.minimal {
    h1 {
        margin-bottom: 0;
    }
}

.assetList {
    > a {
        color: $brand-grey-dark;
        border-bottom: 1px solid $brand-grey-lighter;
        padding-top: $spacer / 2;
        padding-bottom: $spacer / 2;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover,
        &:focus {
            color: $brand-pink;
            transform: none;
        }
    }

    h1 {
        font-size: $font-size-base;
        color: inherit;
        margin: 0;
    }
}

.description {
    height: 164px;
    width: 264px;
    left: 20px;
    top: 176px;
    border: 1px solid #A8B3BD;


    h1 {
        font-size: $font-size-large;
        margin-top: 0;
        margin-bottom: $spacer / 4;
    }

    &,
    p,
    strong,
    a,
    h2,
    h3,
    h4,
    h5 {
        font-weight: $font-weight-base;
        font-family: $font-family-base;
        margin-bottom: 0;
        font-size: $font-size-small;
        color: $brand-grey;
    }
}

.date {
    font-size: $font-size-small;
    color: $brand-grey-light;
}

.assetFooter {
    margin-top: $spacer;
    font-size: $font-size-small;
    color: $brand-grey-light;
    display: flex;
    justify-content: space-between;
}

.price {
    font-size: $font-size-mini;

    span {
        color: $brand-grey;
        font-size: $font-size-small;
    }
}
