@import '../../styles/variables';

.buttonWrapper {
    display: flex;
    justify-content: center;
}

.button {
    margin: 0 10px;
    border-bottom: 5px solid transparent;
    padding-bottom: 6px;
    cursor: pointer;
}

.selectedButton {
    color: $nft-secondary;
    border-color: $nft-secondary;
}
