@import '../../../styles/variables';

.wrapper {
    height: 100%;
}

.imageWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.imageBar {

}
.imageContainer {
    flex: 1;
    margin: 0 50px;
}
