@import '../../../styles/variables';

.imageContainer {
    flex: 1;
    margin: 0 50px;
}

.clickable {
    cursor: pointer;
}

.cols {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    & > * {
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.upper {
    text-transform: uppercase;
}

.spacer {
    margin-bottom: 80px;
}

.buttonSpacer {
    margin-bottom: 20px;
}

.infoRow {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 60px;
    padding: 0 20px;
    background: $nft-light;
    margin-top: 20px;

    strong {
        flex: 1;
    }

    span {
        max-width: 120px;
        min-width: 120px;
    }

    strong,
    span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

// Price section
.priceTitleWrapper {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-transform: uppercase;
}

.priceWrapper {
    padding: 24px 0;
    text-transform: uppercase;

    strong {
        font-size: 35px;
        margin-right: 20px;
    }

    span {
        font-size: 28px;
    }
}
