@import '../../../styles/variables';

.help {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: $brand-gray;
    margin-top: 8px;
}
