@import '../../../styles/variables';

.label {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: $font-weight-bold;
    font-size: 20px;
    line-height: 20px;
    color: $brand-black;
    margin-bottom: 8px;
}

.required {
    composes: label;

    &:after {
        content: '*';
        font-size: $font-size-base;
        color: $brand-grey-light;
        display: inline-block;
        margin-left: .1rem;
    }
}
