@import '../../styles/variables';

.home {
    display: block;

    form {
        margin-bottom: $spacer * 3;
    }

    label {
        height: 0;
        margin: 0;
        visibility: hidden;
    }

    // grab the channel teaser on front page
    // stylelint-disable-next-line
    article > div > h2 + div {
        padding-top: $spacer / 2;
    }
}

.banner {
    position: absolute;
    width: 1440px;
    height: 479px;
    top: 80px;
}

.bannerContent {
    position: absolute;
    width: 688px;
    height: 179px;
    left: 376px;
    top: 80px;
}

.bannerText {
    width: 688px;
    height: 91px;
    left: 376px;
    font-family: $font-family-base;
    text-align: center;
}

.bannerTitle {
    font-style: normal;
    font-weight: $font-weight-bold;
    font-size: 40px;
    line-height: 61px;
    color: $brand-white
}

.bannerDescription {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: $brand-white;
}

.search {
    position: absolute;
    width: 688px;
    height: 48px;
}

.title {
    font-size: $font-size-h4;
    text-align: center;
    color: $brand-grey-light;
    border-bottom: 1px solid $brand-grey-lighter;
    padding-bottom: $spacer / 3;
    margin-top: $spacer * 3;
    margin-bottom: $spacer;

    @media (min-width: $break-point--small) {
        text-align: left;
    }
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: $spacer / 2;
}

.category {
    border: 1px solid $brand-dark;
    border-radius: 4px;
    padding: 20px;
    h3 {
        font-size: $font-size-base;
        color: $brand-grey;
        margin-top: -($spacer / 3);
        margin-bottom: 0;
    }

    &:hover,
    &:focus {
        transform: none;

        > div {
            opacity: 1;
            background-size: 105%;
        }
    }
}
