@import '../../styles/variables';

.artworkTeaserImage {
    height: 160px;
    background-position: center;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $brand-light;
}
