@import '../../styles/variables';

.artworkTeaserDescription {
    height: 164px;
    width: 264px;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    h1 {
        font-size: $font-size-large;
        line-height: 20px;
        margin-top: 0;
        margin-bottom: $spacer / 4;
        color: #2E405A;
    }
}

.text {
    height: 124px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    color: #A8B3BD;
}

.footer {
    margin-top: 16px;
    height: 24px;
}

.price {
    width: 132px;
    height: 24px;
    float: left;

    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #A8B3BD;


}

.date {
    height: 24px;
    margin-left: 132px;

    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #A8B3BD;
}