@import '../../styles/variables';

$size: 44px;

.circleButton {
    width: $size;
    height: $size;
    border-radius: $size / 2;
    background: $nft-dark;
    color: $nft-light;
    border: 0;
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    svg {
        max-width: 18px;
        max-height: 18px;
    }

    &:hover,
    &:active,
    &:focus,
    a#{&} {
        color: $nft-light;
        text-decoration: none;
        transform: none;
    }
}

.circleButtonSecondary {
    background: $nft-primary;
    color: $nft-dark;

    &:hover,
    &:active,
    &:focus,
    a#{&} {
        color: $nft-dark;
    }
}


.circleButtonError {
    background: $nft-error;
    color: $nft-light;

    &:hover,
    &:active,
    &:focus,
    a#{&} {
        color: $nft-light;
    }
}
