@import '../../styles/variables';

$layout-border: 4px solid $nft-shadow;

.wrapper {
    height: calc(100vh - 100px);
    width: 100%;
    border-top: $layout-border;
    display: flex;
}

.sidebar {
    width: 520px;
    background: $nft-background;
    border-left: $layout-border;
    padding: 40px;
    overflow: auto;
}

.content {
    flex: 1;
    background: $nft-light;
}

.contentRow {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > svg {
        margin: 0;
    }
}
