@import '../../../styles/variables';

.status {
    text-align: center;
    padding-top: $spacer / 2;
    padding-bottom: $spacer;
    display: flex;
    justify-content: space-between;
}

.element {
    display: inline-block;
    margin-left: $spacer / 1.5;
    margin-right: $spacer / 1.5;
    text-align: center;
}

.indicator,
.indicatorActive {
    display: inline-block;
    margin-right: $spacer / 4;
    margin-bottom: -.1rem;
}

.indicator {
    display: block;
    background: $red;
    height: 24px;
    width: 24px;
}

.indicatorActive {
    border-radius: 50%;
    background: $green;
}

.indicatorLabel {
    font-family: $font-family-title;
    color: $brand-grey;
    text-transform: capitalize;
}
