@import '../../styles/variables';

.content {
    width: 800px;
}

.header {
    width: 688px;
    height: 158px;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: $brand-dark;
}

.subTitle {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: $brand-gray;
    margin-top: 8px;
    margin-bottom: 0px;;
}

.progress {
    margin-top: 24px;
    margin-bottom: 0px;

    > ul {
        margin: 0!important;
    }
}