@import '../../styles/variables';

.header {
    margin-bottom: $spacer;
}

.title {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: $font-weight-bold;
    font-size: 32px;
    line-height: 32px;
    color: $brand-dark;
}

.description {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: $brand-dark;
    margin-top: 16px;
}

.actions {
    display: flex;
    justify-content: space-between;
    padding-top: $spacer / 2;

    button:last-child {
        min-width: 12rem;
        margin-left: auto;
    }
}

.account {
    margin-top: $spacer * $line-height;
}
