@import '../../styles/variables';

.latestAssetsWrap {
    width: 1304px;
    margin: 339px auto auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: $brand-white;
    border: 1px solid $brand-light;
    position: relative;
}

.latestAssetsHeader {
    height: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.latestAssetsHeaderTitle {
    padding-top: 4px;
    font-family: $font-family-base;
    font-style: normal;
    font-weight: $font-weight-bold;
    font-size: 24px;
    line-height: 24px;
    color: $brand-dark;
}

.latestAssets {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    display: grid;
    grid-gap: 16px 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;

    &::-webkit-scrollbar,
    &::-moz-scrollbar {
        display: none;
    }
}

.title {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: $font-weight-bold;
    font-size: 24px;
    line-height: 24px;

    /* 3. Shade/Bazaart.Dark */
    color: $brand-dark;

    @media (min-width: $break-point--small) {
        text-align: left;
    }
}
