@import '../../styles/variables';

.header {
    height: 100px;
    background: $nft-background;
    padding: 0 30px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}

.publishButton {
    margin: auto;
}

.accountWrapper {
    position: relative;
    margin-right: 12px;
}
