@import '../../styles/variables';

.header {
    width: 1440px;
    height: 100px;
    background: #fff;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.publishButton {
    margin: auto;
}

.accountWrapper {
    position: relative;
    margin-right: 12px;
}
